/* ========================================= Common to all pages ========================================= */
/* ========================= Navigation Menu ========================= */
nav {
  background-color: lightgrey;
  width: 50%;
  position: sticky;
  top: 0px;
  margin: 0 auto;
}
nav ul {
  margin: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  width: 32%;
  margin: 0 auto;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  padding: 10px 30px;
  text-align: center;
  transition: 500ms 50ms;
}
nav ul li a:hover {
  box-shadow: 5px 5px 5px black;
  background-color: darkgray;
}
/* ========================= Header ========================= */
header {
  background-image: url("./img/banniere.jpg");
  background-repeat: no-repeat;
  z-index: 0;
  width: 1014px;
  height: 256px;
  margin: 0 auto;
}
header h1 {
  z-index: 1;
  text-align: center;
  color: red;
  position: relative;
  top: 110px;
  margin: 0 auto;
  width: 300px;
  background-color: white;
}
/* ========================= Footer ========================= */
footer {
  width: 50%;
  margin: 0 auto;
  height: 2em;
  border-top: 2px solid black;
}
footer p {
  text-align: center;
}
/* ========================= Body ========================= */
body {
  margin: 0;
}
main {
  width: 50%;
  margin: 0 auto;
}
/* ========================================= index.php ========================================= */
/* ========================= Messages ========================= */
article {
  border: 1px solid darkgray;
  border-radius: 0 0.5em 1em 0.5em;
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 2px 25px 15px 27px rgba(255, 16, 221, 0);
  margin-bottom: 3em;
  padding: 0.5em;
}
article div {
  text-align: justify;
}
article p {
  text-align: right;
}
/* ========================= No-Messages ========================= */
main h2 {
  text-align: center;
}
section:first-child p {
  text-align: center;
}
.sndMessage {
  margin: 2em auto;
  text-align: right;
  width: 25%;
}
/* ========================= Button to form.php ========================= */
.sndMessage a {
  display: block;
  height: 64px;
  box-shadow: 5px 5px 15px 1px #000000;
  border: 1px solid black;
  border-radius: 0.5em;
  line-height: 64px;
  padding-right: 1em;
  text-decoration: none;
  color: black;
  background-image: url("./img/ouverte.png");
  background-repeat: no-repeat;
}
.sndMessage a:hover {
  box-shadow: none;
  background-image: url("./img/fermee.png");
  background-repeat: no-repeat;
}
/* ========================================= form.php ========================================= */
/* ========================= form ========================= */
form {
  width: 70%;
  margin: 2em auto;
}
label {
  width: 100px;
  height: 2em;
  line-height: 2em;
  font-size: 1.2em;
  display: inline-block;
}
.name input,
.mail input,
.message textarea {
  display: inline-block;
  width: 500px;
}
.message textarea {
  height: 100px;
  resize: none;
}
.message label {
  float: left;
}
.name,
.mail,
.message,
.submit {
  margin: 1em;
}
.submit input {
  display: block;
  width: 95%;
  height: 2em;
  font-size: larger;
}
/* ========================================= editing.php ========================================= */
/* ========================= table ========================= */
.admin,
.admin tr,
.admin th,
.admin td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1em;
}
.admin {
  margin: 20px auto;
}
.adminMain th {
  font-size: larger;
}
